* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  .imagenMascota {
      background-image: url('./imagenes/perro-solo.jpeg');
      background-color: #b9babc;
      background-size: cover;
      height: 150px;
      position: relative;
      background-repeat:repeat
    }

    #form-registerM {
      width: 895px;
      height: 260px;
      background: rgba(0, 0, 0, 0.116);
      border-radius: 50px;
      backdrop-filter: blur(6px);
      box-shadow: 0 25px 45px rgba(0,0,0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 20px;
      margin: auto;
      margin-top: 160px;
      border-radius: 4px;
      font-family: 'calibri';
      color: black;
      box-shadow: 7px 13px 37px rgba(161, 159, 159, 0.2);
      left: -1px;
      position: relative;
      border-radius: 50px;
    }

  h4 {
  font-size: 30px;
  margin-bottom:10px;
  text-align: center;
  
}
  .form-register p {
  height: 30px;
  text-align:unset;
  font-size: 18px;
  line-height: 40px;
}



.icons i{
  font-size: 5rem;
 padding: 0 10px;
  cursor: pointer;
  float:right ;
}
.icons i:hover{
  color: #2CCAAE;
  transition: all 0.3s ease 0s;
}


#form-registerMi {
  width: 895px;
  height: 250px;
  background: rgba(0, 0, 0, 0.116);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  box-shadow: 0 25px 5px rgba(0,0,0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin:-20px;
  margin-top: 300px;
  border-radius: 4px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 13px 37px rgba(161, 159, 159, 0.2);
  left: -1px;
  position: relative;
  border-radius: 50px;
}

#form-registerVi {
  width: 895px;
  height: 230px;
  background: rgba(0, 0, 0, 0.116);
  border-radius: 50px;
  backdrop-filter: blur(6px);
  box-shadow: 0 25px 5px rgba(0,0,0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin:-20px;
  margin-top: 350px;
  border-radius: 4px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 13px 37px rgba(161, 159, 159, 0.2);
  left: -1px;
  position: relative;
  border-radius: 50px;
}


h4 {
font-size: 30px;
margin-bottom:10px;
text-align: center;

}
.form-register p {
height: 200px;
text-align:unset;
font-size: 18px;
line-height: 40px;
}

/* .form-registerM .botons {
  width: 100%;
  background: #2CCAAE;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  margin-top: -1px;
  font-size: 16px;
  border-radius: 25px;
}*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.container{
  width: 100%;
  height: 0vh;
  background-color:  rgb(255, 255, 255);
  font-family: 'Share Tech', sans-serif;
  min-width: -120px;
  position: relative;
}
.logo{
  font-weight: 600;
  font-size: 3.8rem;
}
nav{
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:rgba(255, 255, 255, 0.479);
  text-decoration: none;
}
ul li{
  display: inline-block;
  list-style: none;
  padding: 6px 20px;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
ul li:hover{
  /*background-color: #2CCAAE;*/
  border-radius: 25px;
  text-decoration: none;
}

header{
 position: absolute;
 bottom: 30%;
 padding: 0 50px;
}
header h1{
  font-size: 7rem;
}
header h2{
  font-size: 4rem;
  margin-top: 10px;
}
header p{
  font-size: 1.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

p{
color: #000000;
  margin-top: 5px;
  font-size: 29px;
  text-align: center;
}



